*{ 
    font-family: 'Games', sans-serif;
    src: url("http://fonts.cdnfonts.com/css/games");
    box-sizing: border-box;
    
}
.hide{
    display: none;
}
.animate__animated{
color:rgb(255, 217, 0);
text-align: center;
font-size: 100px;
}
body{
    background-color: rgba(255, 0, 0, 0.702);
    color:rgb(255, 217, 0) ;
  
    
}

.player1-container{
    text-align: center;
    font-size: 40px;
    
    
    
}
.player2-container{
    text-align: center;
    font-size: 40px;
    
}
#symbols{
    width: 150px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
   

}
#symbols:hover{
    background-color: greenyellow;
}
#secondSymbol{
        text-align: center;   
}
.loader{
    text-align: center;
}
.enter-btn{
   width: 100px;
   padding: 10px;
   font-size: 20px;
   color: black;
   background-color: rgb(255, 217, 0);
   margin-top: 100px;
   text-align: center;
}
.enter2-btn{
   width: 100px;
   font-size: 20px;
   color: black;
   background-color: rgb(255, 217, 0);
   padding: 10px;
   margin-top: 100px;
   text-align: center;
}

.enter-btn:hover{
    background-color: greenyellow;

}
.enter2-btn:hover{
    background-color: greenyellow;
}

.play-btn{
    width: 150px;
   font-size: 40px;
   text-align: center;
   padding: 20px;
   background-color: rgb(255, 217, 0);
   color: black;
   margin-top: 200px;
   
}
.play-btn:hover{
    background-color: greenyellow;
}
.display{
    position: relative;
}
.display-name{
    position: absolute;
    border-width: 30px;
    bottom: 4px;
    left: 0;
    font-size: 40px;
    
   
}
.display2-name{
    position: absolute;
    border-width: 30px;
    bottom: 4px;
    right: 0;
    border-width: 30px;
    font-size: 40px;
    
}
input{
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
input:hover{
    background-color: greenyellow;
}
#p1Name{
    margin-bottom: 100px;
}
#p2Name{
    margin-bottom: 100px;
}
.btn-container{
    text-align: center;
}
.board-container{
   
    font-size: 50px;
    display: grid;
    grid-template-columns: repeat( 3, minmax( 90px, 1fr ));
    grid-template-rows: repeat( 3, minmax( 90px, 1fr ));
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    max-width: 495px;
    margin: 0 auto 15px;
   
}
.cell {
    text-align: center;
    padding: 20px;
    display: flex;
    color: black;
    justify-content:center;
    cursor: pointer;  
    background-color:rgb(255, 217, 0);
    opacity: 0.5;
  
  }
.game-container{
    text-align: center;
}
.restart-btn{
    width: 150px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 217, 0);
    color: black;
    margin-top: 200px;
}
.restart-btn :hover{
   
        background-color: greenyellow;
    }

#time{
font-size: 30px;
}
#statusText{
    font-size: 40px;
}