*{
    font-family: 'Games', sans-serif;
}
.hide{
    display: none;
}
.animate__animated{
color:rgb(255, 217, 0);
text-align: center;
font-size: 100px;
}
body{
    background-color: rgba(255, 0, 0, 0.702);
    color:rgb(255, 217, 0) ;
}
#gif{
    border-width: 10px;  
    text-align: center;

}
.player1-container{
    text-align: center;
    font-size: 40px;
    
    
}
.player2-container{
    text-align: center;
    font-size: 40px;
    
}
#symbols{
    width: 50px;
    text-align: center;
    padding: 5px;px;

}
.enter-btn{
   width: 80px;
   font-size: 20px;
   color: black;
    
}
.enter2-btn{
    width: 80px;
   font-size: 20px;
   color: black;
}

.btn-container{
    text-align: center;
}
.enter-btn:hover{
    background-color: greenyellow;
}
.enter2-btn:hover{
    background-color: greenyellow;
}
.play-btn{
    width: 150px;
   font-size: 40px;
   text-align: center;
   padding: 20px;

}
.play-btn:hover{
    background-color: greenyellow;
}
.display{
    position: relative;
}
.display-name{
    position: absolute;
    border-width: 30px;
    bottom: 0;
    left: 0;
    font-family: 'Games', sans-serif;
    font-size: 40px;
}
.display2-name{
    position: absolute;
    border-width: 30px;
    bottom: 0;
    right: 0;
    border-width: 30px;
    font-family: 'Games', sans-serif;
    font-size: 40px;
}
input{
    text-align: center;
}